body
{
    padding: 2rem;
}

#lista-de-animais
{
    /* Mobile first */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}




