body
{
    padding: 2rem;
}

#lista-de-animais
{
    /* Mobile first */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
}

.container 
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

form
{
    max-width: 600px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.acoes
{
    display: flex;
    justify-content: space-around;
}




